
<h1> Most recent pictures </h1>
<%= link_to("New Picture", "/pictures/new") %>

<div class="photos">
<h1> 2018, <%= @twenty_eighteen.count %> photos </h1>
  <% @twenty_eighteen.each do |picture| %>
  <div class="photo">

  <p><%= picture.title%>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}" ) %>
</div>
  <% end%>

  <h1> 2017, <%= @twenty_seventeen.count %>, photos </h1>

  <% @twenty_seventeen.each do |picture| %>
  <div class="photo">
  <p><%= picture.title %>, <%= picture.artist %> </p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  </div>
  <% end %>

</div>
