<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Shrikhand" rel="stylesheet">
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="userinfo">
    <% if current_user %>
      <p>
        Hello <%= current_user.email %>.
        |
        <%= link_to "Logout", sessions_path, method: :delete %>
      </p>
      <% else %>
      <p>
        <%= link_to "New Account", new_users_path %>
        |
        <%= link_to "Log In", new_sessions_path %>
      </p>
      <% end %>
  </div>



  <%= link_to(root_path) do %>
  <h1> PHOTOGUR </h1>
  <% end %>

  <div class="flash">
    <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
    <% end -%>
  </div>
  <%= yield %>

</body>
</html>
